.row {
  border-bottom: 1px solid black;
  font-size: large;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.amount {
  margin-right: 3%;
}

.quantity {
  margin-left: 3%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}