.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.home-header {
  color: white;
  font-size: xx-large;
}

.info {
  margin-top: 3%;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.info_item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_item_header {
  font-size: x-large;
  font-weight: 700;
}

.info_item_body {
  font-size: large;
  width: 60%;
}

.weed_images {
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}